/* Work sans form google */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans&display=swap');

/* Shared style */
* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 20px;
    margin: 32px;
}

.primary-text-color {
    color: #727272;
}

/* Header section */

header {
    background-color: rgba(255, 144, 55, 0.10);
    padding: 50px 244px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 20px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}


.banner img {
    width: 100%;
}

/* Main style */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Team style */
.team-container {
    display: flex;
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-content {
    gap: 25px;
    padding-left: 70px;
    padding-right: 70px;
}

.team-title {
    font-size: 2.9rem;

}

.team-title #quick {
    font-weight: 500;
}

.team-title #our {
    color: #131313;
    font-weight: 700;
}

.team-title #feature {
    color: #FF900E;
    font-weight: 700;
}

/* Features section styles */
.feature {
    display: flex;
    margin-top: 140px;
    gap: 130px;
}

.feature .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-content .card {
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-image img  {
    height: 90%;
    margin-left: 95px;

}
.ten-years {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    width: 300px;
    padding: 40px;
    position: relative;
    bottom: 110px;
    
}

.ten-years h3{
    font-size: 4rem;
    margin: 0;
}
.ten-years p{
    font-size: 1.5rem;
    text-align: center;
}


/* Facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container .card-stats {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 5px;

}

/* Sponsors styles */
.sponsors {
    text-align: center;
}

.sponsor-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

/* responsive media query */
/* Mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .feature ,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .feature-image img{
       max-width: 90%;
        margin-left: 0;
    }

    .ten-years{
        position: static;
        max-width: 300px;
    }

    .team-img {
        grid-template-columns: 1fr;
    }

    .team-content,
    .facts-card-container {
        gap: 25px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .sponsor-img-container img {
        width: 165px;
    }
}

/* Medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .feature,
    .team-container,
    .sponsor-img-container {
        flex-direction: column;
    }
}